.about-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 600px;
    margin-top: 40px;
}

#p-about {
    line-height: 1.9;
}

#reach-out{
    font-weight: bold;
}

#reach-out:hover{
    color: #f25bba;
}
