.contact-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 600px;
    margin-top: 40px;
}

#info-contact {
    text-align: center;
}

#social-links-container {
    margin-top: 60px;
}

i {
    padding: 20px;
    font-size: 40px;
}

i:hover {
    color: #f25bba;
}

#email-send {
    font-size: 24px;
}

#email-send:hover {
    font-size: 22px;
}

@media screen and (max-width: 700px) {
    .contact-container {
        grid-template-columns: 300px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #email-send {
        font-size: 20px;
    }
    #info-contact {
        margin-top: 30px;
    }
}
