.nav-container {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 200px 1fr;
    justify-items: end;
    margin-right: 80px;
    margin-left: 80px;
}

.nav-link {
    display: inline-block;
    padding: 30px;
    margin-top: 30px;
    font-size: 18px;
    align-self: end;
}

.nav-items {
    list-style-type: none;
}

.logo {
    font-size: 60px;
    background: linear-gradient(
        120deg,
        #ee7752,
        #e73c7e,
        #bfeff6,
        #f1c0eb,
        #fb6b3f,
        #ff0efd
    );
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    animation: Gradient 11s ease infinite;
    letter-spacing: 0px;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
    color: #333;
}

.nav-items a:hover {
    text-decoration: underline;
}

.menu-hidden {
    visibility: hidden;
}

Mobile version -----------------------------------------------//

.mobile-nav-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    margin: 0;
    overflow-x: hidden;
}

.mobile-logo {
    font-size: 40px;
    margin-right: 110px;
}

.fa-bars {
    display: block;
    padding-top: 39px;
    font-size: 32px;
    margin-left: 10px;
}

.nav-items-mobile {
    text-align: right;
    font-size: 22px;
}

.nav-link-mobile {
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
}
