.projects-container {
    display: grid;
    margin-top: 40px;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(1000px));
    justify-items: center;
}

.single-project-container {
    padding: 30px;
    border-bottom: 1px solid #333;
    border-radius: 18px;
    margin: 50px;
}

.single-project-container img {
    width: 1000px;
    height: 0 auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.links-projects-a {
    font-size: 20px;
    font-weight: 600;
    padding: 14px;
    margin-right: 10px;
    border: 1px solid #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

.links-projects-a:hover {
    color: #f25bba;
}

.links-projects {
    margin-top: 70px;
    margin-bottom: 30px;
}
